.container-fluid{
  color:   #009999;


}

.landing{
  color:  #66ffff;
  background-image: url('../images/DSC_0058.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10% 0;
  text-align: center;
}

.ppic{

}

.pic{
  border: 2px;
  border-radius: 200px;
}

.head{

}

.about{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px;
  box-shadow: 0 0 10px;
  padding: 5%;
}
.abt{
  margin-left: 10%;
}

.Paragraph{
  margin-left: 10%;
}

.projects{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px;
  box-shadow: 0 0 10px;
  padding: 5%;
}

.plist{
  margin-left: 10%;
}

.contacts{
  color:#66ffff;
  background-image: url('../images/DSC_0049.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10% 0;
  text-align: center;
}

.row{
  margin-left: 30%;
  margin-right: 30%;
}

.icon{
  width: 80px;
}

.col-xs-6{
  margin-left: 30%;
  margin-right: 30%;
}
